

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= sanitize(@product.description) %>
</p>

<p>
  <strong>Image url:<br/></strong>
  <%=image_tag(@product.image) %>
</p><br/>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Back', store_url %>
